<!-- The page header goes here -->
<header ng-if="$ctrl.enableHeader">
    Template header
</header>

<!-- The page main content goes here -->
<main ng-view>

</main>

<!-- The page footer goes here -->
<footer ng-if="$ctrl.enableFooter">
    Template footer
</footer>